@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url(./home.css);
@import url(./about.css);
@import url(./experience.css);

:root {
  --primary-color: #22d4fd;
  --zinc-color: #272727;
  --white: #f6f6f6;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--black);
}

header {
  padding: 4rem 0;
  width: 100%;
}

.header__nav {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.header__btn {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;

  font-weight: 600;
}

footer {
  width: 100%;
  background: var(--primary-color);

  padding: 1.5rem;
}

.footer__text {
  text-align: center;
  color: var(--zinc-color);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
}

@media (max-width: 1124px) {
  header {
    padding: 60px 16px;
  }

  .header__nav {
    gap: 2rem;
    justify-content: space-between;
  }

  .header__btn {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;

    font-weight: 600;
  }

  .footer__text {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
